Methodology:
In order to test this hypothesis, the tangible improvements will be based off of two final markers for the success of the public school program: graduation rates and the standardized test scores of the SAT.  Both are relevant end points for a K-12 education and there are resources for said data.   All the data will be directly drawn from the reliable source: the California Department of Education.  The data will be primarily drawn from three counties as a method of breaking down the study instead of looking at the extremely large state of California as a whole: Los Angeles County, San Diego County, and Orange County.  These three counties hold the largest populations and also diverse populations.  Trends in graduation rate and SAT scores will be the primary method of assessment over whether increases in educational spending by Average Daily Attendance (ADA) do create tangible results proportional to spending. 
In order to study the levels of graduation by ethnicity as well, 12th year enrollment numbers will be cross checked with graduation numbers within the specific three counties and stratified by ethnicity.  These percentages will be analyzed between the school years of 1998-2015 to show the changes and trends in graduation percentage based on both ethnicity and restricted to the three chosen counties.  By stratifying with ethnicity, this study will also be able to study results based on ethnicity as well as county.  The percentage trends will then be compared to the changes in spending by Average Daily Attendance (ADA) by county and the correlation will be graphed to show if there are indeed proportional tangible graduation changes by county as well as for each ethnicity. 
  For SAT test scores, each of the three specific countyâ€™s changes in average scores of Math, Reading, Writing, and Composite between the years of 1998-2015 will be graphed to show trends.  The trends of test score increases or decreases will then be compared to the trend of county spending by Average Daily Attendance, similar to the comparison between graduation rates and spending by ADA.  There will be no breakdown by ethnicity for SAT scores due to lack of such data and the lower population/higher variation in size of SAT test takers every cycle. 



Basically: Add up all the different ethnicities per county for enrollment so there should be 7-8 stratas based on ethnicity for each of the 3 counties. Then cross it with the same set up for graduation.  there should be a trend for % of each ethnicity's graduation percentage by year. 
Cost of attendance will be averages of ADA per school, so you can add it together into a county again, same CDS Code.  Find the rate of increase of budget.  Cross the change in graduation rates by ethnicity with rates of change in budget.  Should be linear correlation.  
The SAT Scores can be average by region and then also graphed against rate of increase to educational budget.  



LA County CDS Code: 19 
San Diego County CDS Code: 37  
Orange CDS Code: 30

In [ ]:
#install datascience if not already installed (!pip install datascience)

In [4]:
# install libraries for project
import numpy as np
from datascience import Table
from datascience.predicates import are

# These lines do some fancy plotting magic.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

In [5]:
#enrollment data and key from California Department of Education
enrollmentfull = Table.read_table('9899enrollment.csv')
enrollment = enrollmentfull.select(['CDS_CODE','ETHNIC', 'GR_12'])
enrollmentkey = Table().with_columns(['CDS_CODE', '14 digit county, district, and school identifier', 
                                      'ETHNIC','Ethnicity','GR_12',
                                      'Students Enrolled in 12th Grade'])
enrollmentkey

CDS_CODE                                         | ETHNIC    | GR_12
14 digit county, district, and school identifier | Ethnicity | Students Enrolled in 12th Grade

In [6]:
enrollment

CDS_CODE      | ETHNIC | GR_12
1100170130401 | 1      | 0
1100170130401 | 2      | 0
1100170130401 | 2      | 17
1100170130401 | 4      | 0
1100170130401 | 4      | 1
1100170130401 | 5      | 6
1100170130401 | 5      | 27
1100170130401 | 6      | 15
1100170130401 | 6      | 77
1100170130401 | 7      | 3
... (92726 rows omitted)

In [7]:
#graduation rates and key from California Department of Education
graduationfull = Table.read_table('9899graduation.csv')
graduation = graduationfull.select(['CDS_CODE', 'ETHNIC', 'GRADS'])
graduationkey = Table().with_columns(['CDS_CODE', '14 digit county, district, and school identifier',
                                      'ETHNIC','Ethnicity','GRADS',
                                      'Number of 12th Grade Graduates'])
graduationkey

CDS_CODE                                         | ETHNIC    | GRADS
14 digit county, district, and school identifier | Ethnicity | Number of 12th Grade Graduates

In [8]:
graduation

CDS_CODE      | ETHNIC | GRADS
1100170130401 | 2      | 13
1100170130401 | 3      | 0
1100170130401 | 5      | 6
1100170130401 | 7      | 0
1100170130401 | 6      | 29
1100170130401 | 7      | 6
1100170130401 | 6      | 0
1100170130401 | 4      | 1
1100170130401 | 3      | 0
1100170130401 | 5      | 0
... (97173 rows omitted)

In [9]:
#Expenditures and key from California Department of Education
costfull = Table.read_table('9899costofed.csv')
cost = costfull.drop(6)
costkey = Table().with_columns(['CO', 'Country Code','DISTRICT', 'District', 'LEA ID', 'Local Educational Agency Code',
                               'Expenditures (EDP 365)', 'Expenditures in one year (USD)', 'ADA', 
                                'Average Daily Attendance', 'Avg Cost per ADA', 
                                'Average Cost per Average Daily Attendence'])
costkey

CO           | DISTRICT | LEA ID                        | Expenditures (EDP 365)         | ADA                      | Avg Cost per ADA
Country Code | District | Local Educational Agency Code | Expenditures in one year (USD) | Average Daily Attendance | Average Cost per Average Daily Attendence

In [10]:
cost

CO   | DISTRICT                       | LEA ID |  Expenditures
(EDP 365)  |  ADA     |  Avg Cost per ADA
1    | Alameda City Unified           | 61119  |  56,313,182               |  10,530  |  5,348
1    | Albany City Unified            | 61127  |  16,324,798               |  2,827   |  5,775
1    | Berkeley Unified               | 61143  |  64,787,152               |  9,102   |  7,118
1    | Castro Valley Unified          | 61150  |  38,588,405               |  7,603   |  5,075
1    | Dublin Unified                 | 75093  |  22,121,134               |  3,752   |  5,896
1    | Emery Unified                  | 61168  |  5,942,114                |  935     |  6,357
1    | Fremont Unified                | 61176  |  148,687,158              |  30,100  |  4,940
1    | Hayward Unified                | 61192  |  115,368,353              |  21,706  |  5,315
1    | Livermore Valley Joint Unified | 61200  |  65,361,560               |  12,908  |  5,063
1    | Mountain House Elementary      | 61218  |  263,704                  |  49      |  5,352
... (974 rows omitted)

In [11]:
#SAT Scores from California Department of Education
satfull = Table.read_table('9899sat.csv')
sat = satfull.drop([4,6,8,9,11,12])
#no key required (self explainatory)
sat

County
Number | District
Number | School
Number | District Name                  | Grade 12
Enrollment | Percent
of
Takers | Average
Total
Score
0             | 0               | 0             | STATEWIDE                      | 334,852             | 36.5              | 1005
1             | 0               | 0             | COUNTY SUPT.                   | 11,809              | 46.7              | 1015
1             | 10017           | 0             | ALAMEDA CO. OFFICE OF EDUCATIO | 299                 | 0                 | 0
1             | 10017           | 130401        | ALAMEDA CO. OFFICE OF EDUCATIO | 224                 | 0                 | 0
1             | 10017           | 130419        | ALAMEDA CO. OFFICE OF EDUCATIO | 8                   | 0                 | 0
1             | 10017           | 130427        | ALAMEDA CO. OFFICE OF EDUCATIO | 67                  | 0                 | 0
1             | 61119           | 0             | ALAMEDA CITY UNIFIED           | 731                 | 49.9              | 979
1             | 61119           | 130229        | ALAMEDA CITY UNIFIED           | 372                 | 66.1              | 1033
1             | 61119           | 132878        | ALAMEDA CITY UNIFIED           | 240                 | 49.6              | 868
1             | 61119           | 134304        | ALAMEDA CITY UNIFIED           | 119                 | 0                 | 0
... (2328 rows omitted)

In [12]:
#Objective: Combine enrollment, graduation, cost, and sat scores tables into one. Focus on 3 countys in particular: 
#LA County(CDS Code = 19), San Diego County (CDS Code = 37), Orange Country (CDS Code = 30).

In [13]:
enrollment
#first two digits identify the county, next 5 the district, final 7 identify the schoo

CDS_CODE      | ETHNIC | GR_12
1100170130401 | 1      | 0
1100170130401 | 2      | 0
1100170130401 | 2      | 17
1100170130401 | 4      | 0
1100170130401 | 4      | 1
1100170130401 | 5      | 6
1100170130401 | 5      | 27
1100170130401 | 6      | 15
1100170130401 | 6      | 77
1100170130401 | 7      | 3
... (92726 rows omitted)

In [14]:
def first_two(table, column_num):
    x = []
    for i in np.arange(table.num_rows):
        y = int(str(table.column(column_num).item(i))[:-12])
        x.append(y)
    return (x)

enrollment.append_column('CDS_Code_by_County',first_two(enrollment, 0))
enrollment

CDS_CODE      | ETHNIC | GR_12 | CDS_Code_by_County
1100170130401 | 1      | 0     | 1
1100170130401 | 2      | 0     | 1
1100170130401 | 2      | 17    | 1
1100170130401 | 4      | 0     | 1
1100170130401 | 4      | 1     | 1
1100170130401 | 5      | 6     | 1
1100170130401 | 5      | 27    | 1
1100170130401 | 6      | 15    | 1
1100170130401 | 6      | 77    | 1
1100170130401 | 7      | 3     | 1
... (92726 rows omitted)

In [15]:
#check
enrollment.row(9000)

Row(CDS_CODE=10620006005748, ETHNIC=7, GR_12=0, CDS_Code_by_County=10)

In [1]:
enrollment.pivot('ETHNIC', 'CDS_Code_by_County')

NameError: name 'enrollment' is not defined